# emacs
*~

# Build Artifacts
/target

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
**/*.rs.bk

# Eclipse settings stuff
.project

# PyCharm stuff
.idea/

# VSCode stuff
.vscode/
*.code-workspace

#MacOS
.DS_Store
.AppleDouble
.LSOverride
